<div class="racipe">
	<!-- <h2 class="">hochpoch with beef</h2> -->
<% if ( recipe ) { %>
	<div class="recipe-header">
	  <h2> <%= recipe.title %> kk </h2>
	</div>
	<div class="top_meta">
		<div class="recipe_info">Cooking Time: <%= recipe.time>0?recipe.time+ ' Minute': "Unknown" %> </div>
		<div class="recipe_info"> like By 4 User</div>
		<div class="recipe_info"> tag: beef, pottato</div>
	</div>
	উপকরণ:

	<ul>
		<li><%= recipe.ingredient %></li>
		
	</ul>

	<div class="direction">
		পদ্ধতি:
		<!-- Bring a large pot of lightly salted water to a boil. Add orzo pasta, cook for 8 to 10 minutes, until al dente, and drain.
		Heat the oil in a skillet over medium-high heat, and cook the garlic and red pepper 1 minute, until garlic is golden brown. Stir in chicken, season with salt, and cook 2 to 5 minutes, until lightly browned and juices run clear. Reduce heat to medium, and mix in the parsley and cooked orzo. Place spinach in the skillet. Continue cooking 5 minutes, stirring occasionally, until spinach is wilted. Serve topped with Parmesan cheese. -->
		<%= recipe.process %>
	</div>
	<div class="meta">
		<h4>cooked by : <%= recipe.cooked_by %> </h4>
		<h4>Source :  <%= recipe.source %> </h4>
	</div>
	<div class="action">
		<span id="<%= recipe.id %>" class="glyphicon glyphicon-remove remove"></span>
		<span data-toggle="modal" data-target="#formEditModal" id="<%= recipe.id %>" class="glyphicon glyphicon-cog pcp_color"></span>
	</div>
<% } %>
</div>

<div class="modal fade" id="formEditModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" action="/edit/<%= recipe.id %>">">
      	<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">Edit New Recipe</h4>
	      </div>
	      <div class="modal-body">
	        <div class="form-group">
				    <label for="title">Recipe Title</label>
				    <input type="text" class="form-control" name="title" id="title" value= " <%= recipe.title %>">
				  </div>
				  <div class="form-group">
				    <label for="Ingredients">Ingredients</label>
				    <textarea class="form-control" name="ingredient" id="ingredient" rows="3"><%= recipe.ingredient %></textarea>
				  </div>
				   <div class="form-group">
				    <label for="Ingredients">Process</label>
				    <textarea class="form-control" name="process" id="process" rows="3">  <%= recipe.process %></textarea>
				  </div>
				   <div class="form-group">
				    <label for="time">Cooking Time</label>
				    <input type="number" name ="time" class="form-control" id=" time" value= " <%= recipe.time %>">
				  </div>
				   <div class="form-group">
				    <label for="cooked_by">cCooked By</label>
				    <input type="text" name="cooked_by" class="form-control" id="cooked_by" placeholder="Anik Ahmed"  value= " <%= recipe.cooked_by %>">
				  </div>
				  <div class="form-group">
				    <label for="source">source</label>
				    <input type="text" name="source" class="form-control" id="source" placeholder="Anik Ahmed" value= " <%= recipe.source %>">
				  </div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Save changes</button>
	      </div>
      </form>
    </div>
  </div>
</div>